In [124]:
import pandas as pd
import numpy as np

df_customer_data = pd.read_csv('../data-source/2021/2nd term/customer-export-10012022-072818-61dbe012.csv')
df_customer_item_details = pd.read_csv('../data-source/2021/2nd term/Report Item Details - 26-04-2021 - 25-12-2021 - Outlet_Sitisonya - 088f3fbb.csv')
df_customer_transactions = pd.read_csv('../data-source/2021/2nd term/Report Transaction - 26-04-2021 - 25-12-2021 - Outlet_Sitisonya - c0929211.csv')

Adjust data type

In [125]:
# Customer Data
df_customer_data['Member Since'] = pd.to_datetime(df_customer_data['Member Since'],format='%d-%m-%Y')
df_customer_data['Last Visit'] = pd.to_datetime(df_customer_data['Last Visit'],format='%d-%m-%Y')
df_customer_data['revisit'] = np.where(df_customer_data['Member Since'] == df_customer_data['Last Visit'],True,False )

#Items Details
df_customer_item_details['Customer'] = pd.to_numeric(df_customer_item_details['Customer'],errors='coerce')

#Transactions
df_customer_transactions['Date'] = pd.to_datetime(df_customer_transactions['Date'])
df_customer_transactions['Day'] = df_customer_transactions['Date'].dt.day_name()

In [126]:
grouped_period_sex =  df_customer_data.groupby([df_customer_data['Member Since'].dt.year.rename('year'), df_customer_data['Member Since'].dt.month.rename('month'), df_customer_data['Sex'],df_customer_data['revisit']],dropna=False).agg({'count'})
grouped_period_sex['Phone']

                             count
year   month Sex    revisit
2021.0 4.0   female False        4
                    True         6
             male   False        7
                    True         8
             NaN    False        4
...                            ...
2022.0 1.0   NaN    False        1
                    True        29
NaN    NaN   female False       41
             male   False       59
             NaN    False      171

[62 rows x 1 columns]

In [127]:
grouped_transaction =  df_customer_transactions.groupby([df_customer_transactions['Customer Phone']]).agg({'count'})
grouped_transaction['Receipt Number'].sum()

count    2627
dtype: int64

In [128]:
df_customer_transactions['Receipt Number'].count()

6682

Item Details

In [129]:
#pgm = (df_customer_data['Member Since'] >= pd.to_datetime('12-4-2021')) & (df_customer_data['Member Since'] <= pd.to_datetime('12-5-2021'))
#pgm_event_revisit =  df_customer_data.loc[pgm].groupby([df_customer_data['Sex'],df_customer_data['revisit']],dropna=False).agg({'count'})
#pgm_event_revisit
weekend = (df_customer_transactions['Date'] >= pd.to_datetime('1-11-2021')) & (df_customer_transactions['Date'] <= pd.to_datetime('31-12-2021')) & (df_customer_transactions['Date'].dt.dayofweek > 4)
sorting_weekend =  df_customer_transactions[weekend].groupby(['Date']).sum()
sorting_weekend.to_excel('../result/2021/2nd term/weekend.xlsx')
sorting_weekend

,Gross Sales,Discounts,Refunds,Net Sales,Gratuity,Tax,Total Collected,Served By,Customer Phone
Date,,,,,,,,,
2021-02-06,1092000.0,21000.0,0.0,1071000.0,0.0,0.0,1071000,0.0,2.011547e+14
2021-02-07,649000.0,0.0,0.0,649000.0,0.0,0.0,649000,0.0,8.230872e+13
2021-03-06,862000.0,80000.0,0.0,782000.0,0.0,0.0,782000,0.0,6.282604e+13
2021-03-07,1537000.0,0.0,0.0,1537000.0,0.0,0.0,1537000,0.0,8.795731e+13
2021-04-10,775000.0,6000.0,0.0,769000.0,0.0,0.0,769000,0.0,4.397822e+13
...,...,...,...,...,...,...,...,...,...
2021-12-11,1364000.0,0.0,0.0,1364000.0,0.0,0.0,1364000,0.0,1.068319e+14
2021-12-12,939000.0,11800.0,0.0,927200.0,0.0,0.0,928000,0.0,1.326603e+14
2021-12-18,1047000.0,0.0,0.0,1047000.0,0.0,0.0,1047000,0.0,7.540581e+13
2021-12-19,1058000.0,0.0,0.0,1058000.0,0.0,0.0,1058000,0.0,1.326614e+14
2021-12-25,1590000.0,15000.0,0.0,1575000.0,0.0,0.0,1575000,0.0,8.797393e+13

In [132]:
first_ads = (df_customer_transactions['Date'] >= pd.to_datetime('6-1-2021')) & (df_customer_transactions['Date'] <= pd.to_datetime('6-22-2021')) 
sorting_first_ads =  df_customer_transactions[first_ads].groupby(['Date']).sum()
sorting_first_ads.to_csv('../result/2021/2nd term/sorting_first_ads.csv')
sorting_first_ads

,Gross Sales,Discounts,Refunds,Net Sales,Gratuity,Tax,Total Collected,Served By,Customer Phone
Date,,,,,,,,,
2021-06-05,1509000.0,43200.0,0.0,1465800.0,0.0,0.0,1465800,0.0,1.024616e+14
2021-06-06,856000.0,0.0,0.0,856000.0,0.0,0.0,856000,0.0,3.142429e+13
2021-06-07,222000.0,0.0,0.0,222000.0,0.0,0.0,222000,0.0,6.289674e+12
2021-06-09,543000.0,0.0,0.0,543000.0,0.0,0.0,543000,0.0,3.142570e+13
2021-06-10,1223000.0,6600.0,0.0,1216400.0,0.0,0.0,1217000,0.0,7.540107e+13
2021-06-11,929000.0,0.0,0.0,929000.0,0.0,0.0,929000,0.0,5.028030e+13
2021-06-12,1283000.0,68000.0,0.0,1215000.0,0.0,0.0,1217000,0.0,8.923916e+13
2021-06-13,1256000.0,0.0,0.0,1256000.0,0.0,0.0,1256000,0.0,2.583879e+14
2021-06-14,876000.0,0.0,0.0,876000.0,0.0,0.0,876000,0.0,5.026803e+13
2021-06-15,1243000.0,0.0,0.0,1243000.0,0.0,0.0,1243000,0.0,1.634344e+14
2021-06-16,772000.0,0.0,0.0,772000.0,0.0,0.0,772000,0.0,1.910802e+14
2021-06-17,1390000.0,0.0,0.0,1390000.0,0.0,0.0,1390000,0.0,1.515112e+14
2021-06-18,1509000.0,4000.0,0.0,1505000.0,0.0,0.0,1505000,0.0,3.023726e+14
2021-06-19,885000.0,0.0,0.0,885000.0,0.0,0.0,885000,0.0,2.143602e+14
2021-06-20,914000.0,0.0,0.0,914000.0,0.0,0.0,914000,0.0,2.527463e+14
2021-06-21,886000.0,0.0,20000.0,866000.0,0.0,0.0,866000,0.0,9.488803e+13
2021-06-22,920000.0,0.0,0.0,920000.0,0.0,0.0,920000,0.0,1.389190e+14

In [131]:
#customer_index_data = df_customer_data.groupby(['Sex']).agg({'count'})
#customer_items_index_data = df_customer_item_details.groupby(['Customer','Items']).agg({'count'})

#customer_items_index_data
merge_customer_items =  pd.merge(df_customer_data,df_customer_item_details,left_on=['Phone'],right_on=['Customer'])
order_by_sex = merge_customer_items.groupby(['Sex','Items']).agg({'count'})
order_by_sex

                       Name Email Phone Birthday Address  City State Zip Code  \
                      count count count    count   count count count    count
Sex    Items
female Affogato          10     0    10        0       0     0     0        0
       Aglio Olio         8     0     8        0       0     0     0        0
       Air Mineral       27     0    27        0       0     0     0        0
       Americano         26     0    26        0       0     0     0        0
       Berry Blush       21     0    21        0       0     0     0        0
...                     ...   ...   ...      ...     ...   ...   ...      ...
male   Tote Bag           1     1     0        0       0     0     0        0
       Tubruk             4     4     0        0       0     0     0        0
       V60              123    93    30        0       0     0     0        0
       Vanilla Frappe     5     4     1        0       0     0     0        0
       Wave Dripper       7     2     5        0       0     0     0        0

                      Customer Since Last Visit  ... Net Sales Gratuity   Tax  \
                               count      count  ...     count    count count
Sex    Items                                     ...
female Affogato                   10         10  ...        10       10    10
       Aglio Olio                  8          8  ...         8        8     8
       Air Mineral                27         27  ...        27       27    27
       Americano                  26         26  ...        26       26    26
       Berry Blush                21         21  ...        21       21    21
...                              ...        ...  ...       ...      ...   ...
male   Tote Bag                    1          1  ...         1        1     1
       Tubruk                      4          4  ...         4        4     4
       V60                       123        123  ...       123      123   123
       Vanilla Frappe              5          5  ...         5        5     5
       Wave Dripper                7          7  ...         7        7     7

                      Sales Type Collected By Served By Customer  \
                           count        count     count    count
Sex    Items
female Affogato               10           10         0       10
       Aglio Olio              8            8         0        8
       Air Mineral            27           27         0       27
       Americano              26           26         0       26
       Berry Blush            21           21         0       21
...                          ...          ...       ...      ...
male   Tote Bag                1            1         0        0
       Tubruk                  4            4         0        0
       V60                   123          123         0       30
       Vanilla Frappe          5            5         0        1
       Wave Dripper            7            7         0        5

                      Payment Method Event Type Reason of Refund
                               count      count            count
Sex    Items
female Affogato                   10         10                0
       Aglio Olio                  8          8                0
       Air Mineral                27         27                0
       Americano                  26         26                0
       Berry Blush                21         21                0
...                              ...        ...              ...
male   Tote Bag                    1          1                0
       Tubruk                      4          4                0
       V60                       123        123                0
       Vanilla Frappe              5          5                0
       Wave Dripper                7          7                0

[195 rows x 41 columns]