In [1]:
import pandas as pd
import numpy as np

df_customer_data = pd.read_csv('../data-source/2021/2nd term/customer-export-10012022-072818-61dbe012.csv')
df_customer_item_details = pd.read_csv('../data-source/2021/2nd term/Report Item Details - 26-04-2021 - 25-12-2021 - Outlet_Sitisonya - 088f3fbb.csv')
df_customer_transactions = pd.read_csv('../data-source/2021/2nd term/Report Transaction - 26-04-2021 - 25-12-2021 - Outlet_Sitisonya - c0929211.csv')

Adjust data type

In [2]:
# Customer Data
df_customer_data['Member Since'] = pd.to_datetime(df_customer_data['Member Since'],format='%d-%m-%Y')
df_customer_data['Last Visit'] = pd.to_datetime(df_customer_data['Last Visit'],format='%d-%m-%Y')
df_customer_data['revisit'] = np.where(df_customer_data['Member Since'] == df_customer_data['Last Visit'],True,False )

#Items Details
df_customer_item_details['Customer'] = pd.to_numeric(df_customer_item_details['Customer'],errors='coerce')

In [3]:
df_customer_data['Member Since'] = pd.to_datetime(df_customer_data['Member Since'],format='%d-%m-%Y')
df_customer_data['Last Visit'] = pd.to_datetime(df_customer_data['Last Visit'],format='%d-%m-%Y')
df_customer_data['revisit'] = np.where(df_customer_data['Member Since'] == df_customer_data['Last Visit'],True,False )

grouped_period_sex =  df_customer_data.groupby([df_customer_data['Member Since'].dt.year.rename('year'), df_customer_data['Member Since'].dt.month.rename('month'), df_customer_data['Sex'],df_customer_data['revisit']],dropna=False).agg({'count'})
grouped_period_sex['Phone']

                             count
year   month Sex    revisit
2021.0 4.0   female False        4
                    True         6
             male   False        7
                    True         8
             NaN    False        4
...                            ...
2022.0 1.0   NaN    False        1
                    True        29
NaN    NaN   female False       41
             male   False       59
             NaN    False      171

[62 rows x 1 columns]

In [4]:
grouped_transaction =  df_customer_transactions.groupby([df_customer_transactions['Customer Phone']]).agg({'count'})
grouped_transaction['Receipt Number'].sum()

count    2627
dtype: int64

In [5]:
df_customer_transactions['Receipt Number'].count()

6682

Item Details

In [6]:
grouped_items = df_customer_item_details.groupby(['Customer','Items']).agg({'count'})
grouped_items

                                      Outlet Receipt Number  Date  Time  \
                                       count          count count count
Customer     Items
6.285726e+09 Rum Latte                     1              1     1     1
6.281000e+10 Cafe Latte                    1              1     1     1
             Choco Latte                   1              1     1     1
             Crispy Dory Sambal Matah      1              1     1     1
             Egg and Beef Teriyaki         1              1     1     1
...                                      ...            ...   ...   ...
6.289570e+13 French Fries                  1              1     1     1
             Lychee Mojito                 2              2     2     2
             Lychee Tea                    1              1     1     1
             Onion Ring                    1              1     1     1
6.289953e+13 Matcha Latte                  1              1     1     1

                                      Category Variant Modifier Applied  \
                                         count   count            count
Customer     Items
6.285726e+09 Rum Latte                       1       0                0
6.281000e+10 Cafe Latte                      1       1                0
             Choco Latte                     1       1                0
             Crispy Dory Sambal Matah        1       0                0
             Egg and Beef Teriyaki           1       0                0
...                                        ...     ...              ...
6.289570e+13 French Fries                    1       0                0
             Lychee Mojito                   2       0                0
             Lychee Tea                      1       0                0
             Onion Ring                      1       0                0
6.289953e+13 Matcha Latte                    1       1                0

                                      Discount Applied Gross Sales Discounts  \
                                                 count       count     count
Customer     Items
6.285726e+09 Rum Latte                               0           1         1
6.281000e+10 Cafe Latte                              1           1         1
             Choco Latte                             1           1         1
             Crispy Dory Sambal Matah                1           1         1
             Egg and Beef Teriyaki                   1           1         1
...                                                ...         ...       ...
6.289570e+13 French Fries                            0           1         1
             Lychee Mojito                           0           2         2
             Lychee Tea                              0           1         1
             Onion Ring                              0           1         1
6.289953e+13 Matcha Latte                            0           1         1

                                      Refunds Net Sales Gratuity   Tax  \
                                        count     count    count count
Customer     Items
6.285726e+09 Rum Latte                      1         1        1     1
6.281000e+10 Cafe Latte                     1         1        1     1
             Choco Latte                    1         1        1     1
             Crispy Dory Sambal Matah       1         1        1     1
             Egg and Beef Teriyaki          1         1        1     1
...                                       ...       ...      ...   ...
6.289570e+13 French Fries                   1         1        1     1
             Lychee Mojito                  2         2        2     2
             Lychee Tea                     1         1        1     1
             Onion Ring                     1         1        1     1
6.289953e+13 Matcha Latte                   1         1        1     1

                                      Sales Type Collected By Served By  \
                                           count        count     count
Customer     Items
6.285726e+09 Rum Latte                         1            1         0
6.281000e+10 Cafe Latte                        1            1         0
             Choco Latte                       1            1         0
             Crispy Dory Sambal Matah          1            1         0
             Egg and Beef Teriyaki             1            1         0
...                                          ...          ...       ...
6.289570e+13 French Fries                      1            1         0
             Lychee Mojito                     2            2         0
             Lychee Tea                        1            1         0
             Onion Ring                        1            1         0
6.289953e+13 Matcha Latte                      1            1         0

                                      Payment Method Event Type  \
                                               count      count
Customer     Items
6.285726e+09 Rum Latte                             1          1
6.281000e+10 Cafe Latte                            1          1
             Choco Latte                           1          1
             Crispy Dory Sambal Matah              1          1
             Egg and Beef Teriyaki                 1          1
...                                              ...        ...
6.289570e+13 French Fries                          1          1
             Lychee Mojito                         2          2
             Lychee Tea                            1          1
             Onion Ring                            1          1
6.289953e+13 Matcha Latte                          1          1

                                      Reason of Refund
                                                 count
Customer     Items
6.285726e+09 Rum Latte                               0
6.281000e+10 Cafe Latte                              0
             Choco Latte                             0
             Crispy Dory Sambal Matah                0
             Egg and Beef Teriyaki                   0
...                                                ...
6.289570e+13 French Fries                            0
             Lychee Mojito                           0
             Lychee Tea                              0
             Onion Ring                              0
6.289953e+13 Matcha Latte                            0

[3412 rows x 20 columns]

In [7]:
df_customer_item_details

,Outlet,Receipt Number,Date,Time,Category,Items,Variant,Modifier Applied,Discount Applied,Gross Sales,...,Net Sales,Gratuity,Tax,Sales Type,Collected By,Served By,Customer,Payment Method,Event Type,Reason of Refund
0,Outlet Sitisonya,1O4X8J,25-12-2021,21:15:17,Shades of Latte,Salted Caramel Latte,NaN,NaN,NaN,22000.0,...,22000.0,0.0,0,Dine In,Kasir Sitisonya,NaN,NaN,BCA,Payment,NaN
1,Outlet Sitisonya,1O4X8J,25-12-2021,21:15:17,Non Coffee,Matcha Latte,Iced,NaN,NaN,24000.0,...,24000.0,0.0,0,Dine In,Kasir Sitisonya,NaN,NaN,BCA,Payment,NaN
2,Outlet Sitisonya,1O4X8I,25-12-2021,21:10:40,Tea,Lychee Tea,NaN,NaN,NaN,18000.0,...,18000.0,0.0,0,Dine In,Kasir Sitisonya,NaN,NaN,Cash,Payment,NaN
3,Outlet Sitisonya,1O4X8I,25-12-2021,21:10:40,Shades of Latte,Caramel,NaN,NaN,NaN,22000.0,...,22000.0,0.0,0,Dine In,Kasir Sitisonya,NaN,NaN,Cash,Payment,NaN
4,Outlet Sitisonya,1O4X8H,25-12-2021,21:08:19,Refreshment,Blue Sonic,NaN,NaN,NaN,20000.0,...,20000.0,0.0,0,Dine In,Kasir Sitisonya,NaN,NaN,Cash,Payment,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11354,Outlet Sitisonya,1O4S3N,28-04-2021,19:27:09,Start and Share,Chicken Nugget,NaN,NaN,NaN,20000.0,...,20000.0,0.0,0,Dine In,Kasir Sitisonya,NaN,6.285878e+12,Cash,Payment,NaN
11355,Outlet Sitisonya,1O4S3M,28-04-2021,18:42:47,Manual Brew,V60,NaN,NaN,NaN,22000.0,...,22000.0,0.0,0,Dine In,Kasir Sitisonya,NaN,6.282313e+12,Cash,Payment,NaN
11356,Outlet Sitisonya,1O4S3M,28-04-2021,18:42:47,Specialty Coffee,Cappucino,NaN,NaN,NaN,22000.0,...,22000.0,0.0,0,Dine In,Kasir Sitisonya,NaN,6.282313e+12,Cash,Payment,NaN
11357,Outlet Sitisonya,1O4S3M,28-04-2021,18:42:47,Non Coffee,Air Mineral,Ice,NaN,NaN,7000.0,...,7000.0,0.0,0,Dine In,Kasir Sitisonya,NaN,6.282313e+12,Cash,Payment,NaN
11358,Outlet Sitisonya,1O4S3L,28-04-2021,18:09:26,Non Coffee,Taro Latte,Iced,NaN,NaN,24000.0,...,24000.0,0.0,0,Dine In,Kasir Sitisonya,NaN,NaN,BCA,Payment,NaN

In [8]:
#customer_index_data = df_customer_data.groupby(['Sex']).agg({'count'})
#customer_items_index_data = df_customer_item_details.groupby(['Customer','Items']).agg({'count'})

#customer_items_index_data
merge_customer_items =  pd.merge(df_customer_data,df_customer_item_details,left_on=['Phone'],right_on=['Customer'])
order_by_sex = merge_customer_items.groupby(['Sex','Items']).agg({'count':sum})
order_by_sex

KeyError: "Column(s) ['count'] do not exist"